<!--{{#if loggedIN}}-->
<!--first journal links to create journal page-->
<article>
    <div class="journal card bg-light" style="width: 18rem;">
        <img class="card-img-top img-preview" src="../../public/assets/images/placeholder-image.jpg" alt="">
        <div class="card-body">
            <h2 class="card-title">A new journey...</h2>
        </div>
    </div>
</article>
<!--each journal should be a link to its own single-journal page-->
<article>
    <div class="journal card bg-light" style="width: 18rem;">
        <img class="card-img-top img-preview" src="../../public/assets/images/placeholder-image.jpg" alt="">
        <div class="card-body">
            <h2 class="card-title">My Example Journal</h2>
        </div>
    </div>
</article>
<!--{{/if}}-->