<article>
    <a href="/dashboard">
    <div class="journal card bg-light" style="width: 18rem;">
        <img class="card-img-top img-preview" src="/assets/images/journify-new-journal.png" alt="">
        <div class="card-body">
            <h2 class="card-title">A new journey...</h2>
        </div>
    </div>
    </a>
</article>

{{#each journals}}
<article>
    <a href="/journals/{{id}}">
    <div class="journal card bg-light" style="width: 18rem;">
        <img class="card-img-top img-preview" src="/assets/images/placeholder-image.jpg" alt="">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
        </div>
    </div>
    </a>
</article>
{{/each}}